﻿@model IEnumerable<ITask>

<table class="table">    
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.CheckBoxFor(modelItem => item.Completed, new { id = item.Id, @class = "CompletedCheck" })
        </td>
        <td>
            <span  @(item.Completed ? "class=ItemCompleted" : "")>  @Html.DisplayFor(modelItem => item.Description )</span>
        </td>     
        <td>
            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id },
                new AjaxOptions()
            {
                HttpMethod = "Delete",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divTaskList",
                Confirm ="Are you sure you want to delete this Task?"                
            })
        </td>
    </tr>
    }
}
</table>

<script src="~/Scripts/AddCheckBoxListener.js"></script>