﻿@model Task
@{
    ViewBag.Title = "Home Page";
}
    <!-- Page Content -->         
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">
            <!-- Add Task Form -->
       
                <!-- Add Task Field -->
                <div class="row">
                    <h1 class="text-center">To Do List</h1>    
                    @using (Ajax.BeginForm("CreateTask", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "divTaskList",
                        OnSuccess = "$('#AddTaskTextBox').val('');"
                    }))
                    {
                        <div class="form-group">
                             @Html.AntiForgeryToken()
                            <div class="input-group">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @Id = "AddTaskTextBox", @class = "form-control", @placeholder = "Add Task" } })                            
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>                    
                    }
                </div>            
            <!-- End of Add Task Form -->
        </div>
        <div id="divTaskList" class="col-lg-6 col-lg-offset-3 text-center">
        </div>   
    </div>      
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/TaskListManager.js"></script>
    
}

